body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	/* margin: 50px 0 0 300px; */


}

.content2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.content2 button{
	border-radius: 7px 7px 0 0;
	background-color: #06445c;
	border: 0;
	color: white;
	padding: 25px 0;
	width: 450px;
	font-size: 15px;
	z-index: 0;
	
}

.content2 button:hover{
	transition: 1s;
	background-color: #075775;
}

#mensage {
	color: #087ba8;
	transition: margin-top 1s;
	margin-top: -60px;	
	display: none;
}

#mensage img {
	object-fit: cover;
	width: 420px;
	height: 5px;
	object-position: 0% 50%;
	border-radius: 0 0 10px 10px;
	transition: height 1s;

}


